html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightgray;
}

#map {
    height: 100%;
    z-index: 0;
}

.fixed {
    position: fixed;
    z-index: 2;
    margin: 10px;
}

li {
    cursor: pointer;
}

.list-view {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    padding-top: 4em;
    background-color: rgba(100, 44, 55, 0.9);
    overflow-y: scroll;
}

.list-view-hidden {
    transform: translateX(-250px);
}

#error-block {
    width: 50%;
    margin: auto;
}

form,
input {
    width: 100%;
}